%h1 Welcome to Thumbnail Lister: The Paradise for Collectors of Thumbnail Images

%a{href: new_user_path} Register Here
%a{href: new_session_path} Sign In

%p=flash[:success] unless flash[:success].blank?

